body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  @apply text-gray-dark;
}

* {
  transition: width 200ms ease-in;
}

a {
  @apply text-blue;
}

a:hover {
  text-decoration: underline;
}

.text-mono {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace !important;
}
