@tailwind base;
body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  color: #24292e;
}

a {
  color: #0366d6;
}

a:hover{
  text-decoration: underline;
}

@tailwind components;
.page-grid{
  @apply w-full;
  @apply max-w-screen-xl;
  @apply px-4;
  @apply m-auto;
  @apply flex
}

@tailwind utilities;
