html, body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 14px;
}

a, a:link, a:visited {
  color: rgb(3, 102, 214);
  text-decoration: none;
}
